apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ pv_name }}
spec:
  capacity:
    storage: {{ pv_size }}
  accessModes:
  - ReadWriteOnce
  nfs:
    path: {{ nfs_dir }}
    server: {{ nfs_server }}
  persistentVolumeReclaimPolicy: Retain

